<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vita main</title>
    <!-- 반응형 적용 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
$(document).ready(function() {
    $('.slider').bxSlider({
        auto : true,
        speed : 1000,
        pause : 2000,
        mode : 'horizontal',
        pager : false,
        autoHover : true,
    });
});
</script>

</head>
<body>

  {% extends 'base.html' %} <!-- 템플릿 상속 -->
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
  {% block content %}
    <div class="box-1">
        <button class="main_button">
            <a class = "aa" href="{% url 'main:product' %}">상품</a>
        </button>
        <button class="main_button">
            <a class = "aa" href="{% url 'main:price' %}">가격 랭킹</a>
        </button>
        <button class="main_button">
            <a class = "aa" href="{% url 'main:contentform' %}">함유량 랭킹</a>
        </button>
        <button class="main_button">
            <a class = "aa" href="{% url 'pybo:index' %}">게시판</a>
        </button>
    </div>>
    <div style="width:68%; margin:auto;"  >
        <div class="slider" style="width:80%; height:400px;">
        <div ><img src="/static/imgs/images01.jpg" /></div>
        <div ><img src="/static/imgs/images02.jpg" /></div>
        <div ><img src="/static/imgs/images03.jpg" /></div>
        <div><img src="/static/imgs/images05.jpg" /></div>
        <div><img src="/static/imgs/images06.jpg" /></div>
        <div><img src="/static/imgs/images04.jpg" /></div>
        </div>
    </div>

    <br>
  {% endblock %}
</body>
</html>