<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vita Mypage</title>
</head>
<body>
  {% extends 'base.html' %} <!-- 템플릿 상속 -->
  {% block content %}
  <div id="container-5">
    <div id="left-sidebar">
      <div id="wrapper" style="width=100%;">
          <div style="width:10%; height:80%; float:left;">
              <div class="topbar" style="position: absolute; margin-left:50px; top:25%;">
              <div class="left_sub_menu">
                  <div class="sub_menu">
                  <ul class="big_menu">
                      <li><button class="btn1">
                          <a class = "aa" href="{% url 'main:product' %}">상품</a>
                      </button></li>
                      <li><button class="btn1"><a class = "aa" href="{% url 'main:price' %}">가격 랭킹</a></button></li>
                      <li><button class="btn1"><a class = "aa" href="{% url 'main:contentform' %}">함유량 랭킹</a></button></li>
                      <li><button class="btn1"><a class = "aa" href="{% url 'pybo:question' %}">게시판</a></button></li>
                      <li><button class="btn1"><a class = "aa" href="{% url 'main:mypage' %}" >마이 페이지</a></button></li>
                  </ul>
                  </div>
              </div>
          </div>

          </div>

      <br>
      <br>
      <hr>
      </div>

    </div>
    <div id="center-sidebar" style="text-align:center">
            <h1>MY PAGE</h1>
        <div>
            <li><a href="{% url 'main:change_password' %}">비밀번호 변경</a></li>
            <li><a>개인정보 수정</a></li>
            <li><a>찜목록 관리</a></li>
            <li><a>후원하기</a></li>
            <li><a>회원탈퇴</a></li>
        </div>
    </div>
    <div id="right-sidebar">
    </div>
  </div>
      <hr>
    <footer>
        <div class="footer-1">
            <h6 style="color:DodgerBlack">주소:서울특별시 서초구 동작대로 132 안석빌딩 9층</h6>
            <h8> 전화번호:02-599-8697</h8>
            <h8><p>Project: 3Group</p> </h8>
            <!--<a href="zz@naver.com">zz@naver.com</a>-->
        </div>
    </footer>
    {% endblock %}

</body>
</html>