<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% extends 'base.html' %} <!-- 템플릿 상속 -->
  {% block content %}
    <div id="wrapper" style="width=100%;">
        <div style="width:20%; height:80%; float:left;">
            <div class="topbar" style="position: absolute; top:25%;">
            <div class="left_sub_menu">
                <div class="sub_menu">
                <h2 class="aaa">Menu Bar</h2>
                <ul class="big_menu">
                    <li><button class="btn1">가격 랭킹</button></li>
                    <li><button class="btn1">함유량 랭킹</button></li>
                    <li><button class="btn1">게시판</button></li>
                    <li><button class="btn1">마이 페이지</button></li>
                </ul>
                </div>
            </div>
        </div>

        </div>


    <br>
    <br>
    <hr>
    </div>
  {% endblock %}
</body>
</html>