.{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 반응형 적용 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- 개발자가 만든 pybo CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style.js' %}">
<script>
    $(function () {
        $(".left_sub_menu").hide();
        $(".has_sub").click(function () {
            $(".left_sub_menu").fadeToggle(300);
        });
        // 왼쪽메뉴 드롭다운
        $(".sub_menu ul.small_menu").hide();
        $(".sub_menu ul.big_menu").click(function () {
            $("ul", this).slideToggle(300);
        });
        // 외부 클릭 시 좌측 사이드 메뉴 숨기기
        $('.overlay').on('click', function () {
            $('.left_sub_menu').fadeOut();
            $('.hide_sidemenu').fadeIn();
        });
    });
</script>

    <title>Title</title>
</head>
<body>
    <!-- 내비게이션바 추가-->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning border-bottom">
        <a class="navbar-brand" href="{% url 'pybo:index' %}">
            <img src="{% static 'nanavar.png' %}." alt="image" width="170" height="35">
        </a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="검색어 입력" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 bg-light text-warning" type="submit">검색<i class="bi bi-search"></i></button>
            </form>
        <!-- 토글이 버튼 햄버거모양-->
        <button class="navbar-toggle ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="%{ url 'common:logout' %}">{{user.username}}님(로그아웃)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <!-- 기본 템플릿 안에 삽입될 내용-->
    {% block content %}
    {% endblock %}
    <!-- 먼저 jquery 자바스크립트 적용 -->
    <script src="{% static 'jquery-3.6.3min.js' %}"></script>
     <!-- bootstrap 자바스크립트 적용 -->
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <hr>
    <footer>

        <div class="footer-1">
            <h6 style="color:DodgerBlack">주소:서울특별시 서초구 동작대로 132 안석빌딩 9층</h6>
            <h8> 전화번호:02-599-8697</h8>
            <h8><p>Project: 3Group</p> </h8>
            <!--<a href="zz@naver.com">zz@naver.com</a>-->
        </div>
    </footer>


</body>

</html>